.skin-blue .main-header .navbar {
    background-color: #23303C;
}

.skin-blue .main-header .logo:hover {
    background-color: #23303C;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #23303C;
}

.skin-blue .main-header .navbar .sidebar-toggle {
    color: #FFFFFF;
}

.skin-blue .main-header .logo {
    background-color: #23303C;
    color: #fff;
    border-bottom: 0 solid transparent;
}

.content-wrapper, .right-side {
    min-height: 100%;
    background-color: #F2F5F4;
    z-index: 800;
}